@import "tailwindcss";
@config "./tailwind.config.js";

@layer utilities {
    .infinite-scroll {
        animation: infinite-scroll 40s linear infinite;
    }
}

@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}